extends ./_includes/layouts/default.pug
block data
  - var title = "landing";
  - var description = "landing of eleventy's website";

append content
  div.d-flex.flex-column.bd-highlight.mb-3.justify-content-evenly.min-100
    div.cover-container.d-flex.w-100.h-100.p-3.my-auto.mx-auto.flex-column.pt-auto.pb-auto.pt-md-auto.pb-md-auto.flex-grow-1
      input#button(type='button' value='NEW BACKGROUND COLOR' onclick='updateColor()')
      h1#output.text-center
  script.
    const getRandomColorChannel = function(options = 256) {
    return Math.floor(Math.random() * options);
    };
    const getRandomRGB = function() {
    let r = getRandomColorChannel();
    let g = getRandomColorChannel();
    let b = getRandomColorChannel();
    return [r, g, b];
    };
    const getRGBString = function() {
    rawRGB = getRandomRGB();
    return `rgb(${rawRGB[0]},${rawRGB[1]},${rawRGB[2]})`;
    };
    const updateColor = function() {
    const body = document.querySelector(`body`);
    const output = document.querySelector(`#output`);
    let color = getRGBString();
    body.style.backgroundColor = color;
    output.textContent = color;
    };
    updateColor();

