extends ./_includes/layouts/default.pug
block data
  - var title = "landing";
  - var description = "landing of eleventy's website";

append content
  script(type='text/javascript').
    window.location.href = "./home";
