html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.min-100 {
    min-height: 100%;
}

.footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 80px;
    background-color: #f5f5f5;
}